* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.barra {
  background-color: #ffffff;
  overflow: hidden;
  font-family: "inter";
  font-size: 22px;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 61px;
  padding: 0 20px;
  justify-content: space-between;
  margin-left: auto;
}


.barra a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 8px 16px;
  margin: 0;
  text-decoration: none;

}


body {
  background-color: #9EC5FE;
  font-family: "inter";
  font-size: 22px;
  color: White;
  padding-top: 61px;
}

p {
  font-family: "inter";
  font-size: 22px;
  color: black;
  text-align: justify;
  flex-grow: 1;
}

h1 {
  font-family: "inter";
  font-size: 26px;
  color: rgb(0, 0, 0);
  margin: 133px 0 8px 0;
  text-align: center;
}

h3 {
  font-family: "inter";
  font-size: 22px;
  color: #000000;
  text-align: center;
}

h4 {
  font-family: "inter";
  font-size: 22px;
  color: #152536;
}

.barra-contato {
margin-left: auto;
}

.contato-descricao {
  font-family: "inter";
  font-size: 24px;
  color: #6C757D;
}

.card-link {
  font-family: "inter";
  font-size: 18px;
  color: #7749F8;
  text-decoration: none;
  padding-top: 53px;
  margin-top: auto;
  align-self: flex-start;
}

.card-link:hover {
  text-decoration: underline;
  color: #7749F8;
}

.card {
  margin: 0;
  width: 42rem;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
}

.card-title {
  font-family: "inter";
  font-weight: bold;
  font-size: 24px;
  color: #152536;
}

.cardcontato {
   width: 42rem;
   margin: 0;
   padding: 24px;
   background-color: #ffffff;
   border-radius: 12px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
  }

  .ContainerCard {
    display: flex;
    gap: 67px;
    justify-content: center;
    margin-top: 154px;
    margin-bottom: 216px;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .card-body {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .Principal {
    display: flex;
    flex-direction: column;
    background-color: #9EC5FE;
    margin-top: auto;
    padding: auto;
  }

  .titulo {
    text-align: center;
    font-family: "inter";
    font-size: 40px;
    font-weight: 600;

  }

  .subtitulo {
    text-align: center;
    font-family: "inter";
    font-size: 24px;
    padding-top: 10px;
  }

